<div class="col-md-12" *ngFor="let bp of BlogPostByCat$ | async">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{bp.categorie}}</strong>
          <h3 class="mb-0"><a [routerLink]="['/blog-posts', bp._id]">{{bp.title}}</a></h3>
          <p class="card-text mb-auto" [innerHTML]="bp.content | slice:0:250"></p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src={{bp.image}} width="250" height="220">
        </div>
      </div>
  </div>
