.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#jumbo {
  background-image: url('./img/nightsky.jpg');
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.latest-post .content {
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px dotted #fff;
  outline-offset: -15px;
  position: absolute;
  text-align: center;
}

#astronomie{
  background-image: url('img/hubble.jpg');
  height: 200px;
  outline: 2px dotted #fff;
  outline-offset: -15px;
  max-width: 350px;
}

#animal{
  background-image: url('img/untitled-2.jpg');
  height: 200px;
  outline: 2px dotted #fff;
  outline-offset: -15px;
  max-width: 350px;
}

#vegetal{
  background-image: url('img/foret-pixabay.jpg');
  height: 200px;
  outline: 2px dotted #fff;
  outline-offset: -15px;
  max-width: 350px;
}

.category{
  margin-bottom: 25px;
}
